In [1]:
#import the libraries we want to use
import pandas as pd
import numpy as np

In [3]:
#load up our csv file into python
#make sure that this notebook & the corresponding csv file are in the same folder. 
superheroes = pd.read_csv("superhero_data.csv", parse_dates = ["FIRST_YEAR"])

### Introducing Data Frames
##### DataFrames build a functional table from the csv (using lists). We use dataframes to perform operations
##### Once you build a dataframe, we can run other functions to perform analyses & operations
##### DataFrames can be used for analysis, but Crosstab cannot. Crosstab produce tables for us to view

In [30]:
#introduce the dataframe. From Pandas (pd) library, use DataFrame function and specify the data is coming from 'superheroes'
df = pd.DataFrame(data = superheroes)

# you don't need to print it, but just so you know it's there:
print(df)

      UNIVERSE page_id                                   name  \
0           DC    1702             Richard Occult (New Earth)
1           DC  158200           Arthur Pendragon (New Earth)
2           DC  289378                   Bedivere (New Earth)
3           DC   11333  Franklin Delano Roosevelt (New Earth)
4           DC  342641                     Gareth (New Earth)
...        ...     ...                                    ...
23415   MARVEL      ND                  Zola Hulk (Earth-616)
23416   MARVEL      ND              Zola Iron Man (Earth-616)
23417   MARVEL      ND                  Zola Thor (Earth-616)
23418   MARVEL      ND                    Zoltaro (Earth-616)
23419   MARVEL      ND                Zora Loftus (Earth-616)

                                     urlslug               ID  \
0                 Richard_Occult_(New_Earth)  Secret Identity
1               Arthur_Pendragon_(New_Earth)  Public Identity
2                       Bedivere_(New_Earth)               ND
3      Franklin_Delano_Roosevelt_(New_Earth)  Public Identity
4                         Gareth_(New_Earth)               ND
...                                      ...              ...
23415                  Zola_Hulk_(Earth-616)  Secret Identity
23416              Zola_Iron_Man_(Earth-616)  Secret Identity
23417                  Zola_Thor_(Earth-616)  Secret Identity
23418                    Zoltaro_(Earth-616)               ND
23419                Zora_Loftus_(Earth-616)  Secret Identity

                 ALIGN IS_AVENGER AVENGER_STATUS AVENGER_YEAR        EYES  \
0                   ND         NO             ND           ND   Grey Eyes
1      Good Characters         NO             ND           ND  Brown Eyes
2                   ND         NO             ND           ND          ND
3      Good Characters         NO             ND           ND          ND
4                   ND         NO             ND           ND          ND
...                ...        ...            ...          ...         ...
23415   Bad Characters         NO             ND           ND    Red Eyes
23416   Bad Characters         NO             ND           ND  Black Eyes
23417   Bad Characters         NO             ND           ND   Blue Eyes
23418   Bad Characters         NO             ND           ND          ND
23419   Bad Characters         NO             ND           ND          ND

             HAIR                SEX                SEXUALITY  \
0      Black Hair    Male Characters  Heterosexual Characters
1      Brown Hair    Male Characters  Heterosexual Characters
2              ND    Male Characters  Heterosexual Characters
3       Grey Hair    Male Characters  Heterosexual Characters
4              ND    Male Characters  Heterosexual Characters
...           ...                ...                      ...
23415        Bald    Male Characters  Heterosexual Characters
23416     No Hair    Male Characters  Heterosexual Characters
23417  Blond Hair    Male Characters  Heterosexual Characters
23418  Black Hair    Male Characters  Heterosexual Characters
23419  Blond Hair  Female Characters  Heterosexual Characters

                     ALIVE APPEARANCES FIRST_MONTH FIRST_YEAR DECEASED  \
0        Living Characters         125    October        1935       ND
1        Living Characters          41   February        1936       ND
2        Living Characters          ND   February        1936       ND
3        Living Characters          52      March        1936       ND
4        Living Characters           1   February        1936       ND
...                    ...         ...         ...        ...      ...
23415    Living Characters           1          ND         ND       ND
23416    Living Characters           1          ND         ND       ND
23417    Living Characters           1          ND         ND       ND
23418  Deceased Characters           2          ND         ND       ND
23419    Living Characters          ND          ND         ND       ND

      RESURRECTED
0              ND
1              ND
2              ND
3              ND
4              ND
...           ...
23415          ND
23416          ND
23417          ND
23418          ND
23419          ND

[23420 rows x 19 columns]

## Practicing Lists with our Marvel/DC Data File
### Goal: Create a list with every Female Character that appears more than 100 times
#### Conceptually, this means that we want to read through all of the lines of the code, and 
#### IF we come across a female character with over 100 appearances, THEN we want to add it to the list
remember that all code that appears in red in quotes below has come verbatim from our csv file.

In [34]:
#list names of every female character that appears more than 100 times

#initializing a blank list. we need to introduce the name variable and specify the datatype for Python to know what we're talking about later on in the file. 
list_name = []

# .shape[0] gives the number of rows, .shape[1] gives the number of columns
num_rows = df.shape[0]

#printing is a good way to check our work
#to print out row 0 of Appearances column
#print(df["APPEARANCES"] [0])


#use a for loop to go through all of the rows
#for each row in the total rows of the dataframe for our file
for row in range(num_rows):
    
    #use 'continue' to skip any instance with no data (ND) about the number of appearances
    if(df["APPEARANCES"][row]=="ND"):
        continue
        
    #this is the main line of code that does what we want.    
    elif(df["SEX"][row] == "Female Characters" and int(df["APPEARANCES"][row])) > 100:
        
        #use the .append() function to add the name from the row onto the list we initiated earlier
        list_name.append(df["name"][row])

#uncomment the print statement below to check your code
#print(list_name)

In [35]:
## Tomorrow in class we will build a dictionary to take the universe that the character is from (key), and the number of appearances
dictionary_name = {}
#for item in list_name: