### IMPORTANT: This notebook file will not run unless the .ipynb file and the superheroData.csv are in the same folder!

# Marvel-DC Comics crosstab formatting skeleton

### DC_comics_skeleton created by Ricarose Roque and modified by Wendy Norris as a demo for Summer INFO 1201.

##### Step 1: Import the pandas and numpy libraries into Jupyter Notebook.

This command provides routine instructions to Python on how to handle the data in the spreadsheet. We abbreviate Pandas and NumPy for faster typing/cleaner looking code. We'll be using both libraries a lot in the data visualization project. 

Click <i>Shift-Enter</i> through the import line. It won't look to you like anything happened but Jupyter knows.

In [1]:
import pandas as pd
import numpy as np

##### Step 2: Now we set up pandas to open the csv file.

First, we'll tell Jupyter to use some of the built-in instructions from the imported Python libraries to read the file. 

We'll assign a new name to the csv file to make it easier to differentiate between the file on our desktops and the one we're working with in Jupyter.  

Next, use the pd.read_csv command to tell Jupyter to take all the data, read it, and copy it into this new variable called "superheroes". Finally, on the same line, we add the command to <i>parse_dates</i>. This is a nifty trick by Pandas to standardize the way the YEAR column in the csv file is formatted in Jupyter so that Python understands that 2017 is a year and not just a <i>string</i> or <i>integer</i>. This will make it easier for us to access and explore the data. 

Again, when you <i>Shift-Enter</i> through this next cell, it won't look like anything happened.

In [2]:
superheroes = pd.read_csv("superheroData.csv", parse_dates = ["FIRST_YEAR"])

##### Step 3: Let's print a few lines of the superheroes list to make sure Jupyter read it correctly.

Pandas makes it super easy to print a nice dataframe to look at the <i>head</i> or the first 5 rows of the spreadsheet to check for any import errors.

In [3]:
superheroes.head()

,UNIVERSE,page_id,name,urlslug,ID,ALIGN,IS_AVENGER,AVENGER_STATUS,AVENGER_YEAR,EYES,HAIR,SEX,SEXUALITY,ALIVE,APPEARANCES,FIRST_MONTH,FIRST_YEAR,DECEASED,RESURRECTED
0,MARVEL,ND,Artificial being (Earth-616),Artificial_being_(Earth-616),ND,Bad Characters,NO,ND,ND,ND,No Hair,Agender Characters,Heterosexual Characters,Living Characters,2,September,1966,ND,ND
1,MARVEL,ND,Batch-13 (Earth-616),Batch-13_(Earth-616),Secret Identity,Bad Characters,NO,ND,ND,Red Eyes,No Hair,Agender Characters,Heterosexual Characters,Living Characters,ND,February,1995,ND,ND
2,MARVEL,ND,Blockers Bots (Hazards) (Earth-616),Blockers_Bots_(Hazards)_(Earth-616),No Dual Identity,Bad Characters,NO,ND,ND,Green Eyes,No Hair,Agender Characters,Heterosexual Characters,Living Characters,1,ND,ND,ND,ND
3,MARVEL,ND,Carnage (Symbiote) (Earth-616),Carnage_(Symbiote)_(Earth-616),Public Identity,Bad Characters,NO,ND,ND,White Eyes,No Hair,Agender Characters,Heterosexual Characters,Living Characters,61,March,1992,ND,ND
4,MARVEL,ND,Changers (Earth-616),Changers_(Earth-616),Secret Identity,Bad Characters,NO,ND,ND,ND,No Hair,Agender Characters,Heterosexual Characters,Living Characters,1,May,1971,ND,ND

## Crosstabs can be really helpful snapshots of our data. But they don't have to be ugly, like this one evaluating Yellow Eyes and Red Hair:

In [4]:
creepy_villain = pd.crosstab(superheroes["EYES"] == "Yellow Eyes", superheroes["HAIR"] == "Red Hair")

print(creepy_villain)

HAIR   False  True
EYES
False  22004   1073
True     325     18

## So let's print some nicer looking ones. Check out these formats.

#### Just some simple crosstabs. And the tables are kind of interactive too. 

#### UPDATE 6-22-18: 
In the original example directly below, I transposed the headings for the False/True blocks. See the cell above with ugly crosstab. 
The upper left block is False/False for both characteristics. The lower right block then is True/True. Sorry!!!

In [13]:
creepy_villain = pd.crosstab(index = superheroes["EYES"] == "Yellow Eyes", columns = superheroes["HAIR"] == "Red Hair")

creepy_villain.columns = ["Has red hair", "Does not have red hair"]
creepy_villain.index = ["Has yellow eyes", "Does not have yellow eyes"]
creepy_villain

                           Has red hair  Does not have red hair
Has yellow eyes                   22004                    1073
Does not have yellow eyes           325                      18

#### This is the correct version of the False/True block headings.

In [5]:
creepy_villain = pd.crosstab(index = superheroes["EYES"] == "Yellow Eyes", columns = superheroes["HAIR"] == "Red Hair")

creepy_villain.columns = ["Does not have red hair", "Has red hair"]
creepy_villain.index = ["Does not have yellow eyes", "Has yellow eyes"]
creepy_villain

                           Does not have red hair  Has red hair
Does not have yellow eyes                   22004          1073
Has yellow eyes                               325            18

#### The next crosstabs are a little different. They are only stand-alone tables that can't be called later in the program since you're <u>NOT</u> assigning variable names like we did with <font color=blue>creepy villain = pd.crosstab</font>...

In [6]:
pd.crosstab(superheroes["HAIR"], superheroes["ALIGN"])

ALIGN,Bad Characters,Good Characters,ND,Neutral Characters,Reformed Criminals
HAIR,,,,,
Auburn Hair,21,37,12,12,0
Bald,465,157,90,130,0
Bald formerly Brown Hair and sometimes Blond Hair,0,1,0,0,0
Black Hair,2205,1898,629,640,0
Black Hair (shaved bald),0,1,0,0,0
Black Hair (shaved),0,0,1,0,0
Black Hair shaved bald,0,1,0,0,0
Black Hair with White streaks,0,1,0,0,0
Blond Hair,719,1000,319,311,2
Blue Hair,44,25,12,17,0
Bronze Hair,0,1,0,0,0
Brown Hair,1257,1337,481,439,0
Brown Hair dyed Black,0,1,0,0,0
Brown Hair; No Hair,0,1,0,0,0
Brown or Green Hair,0,1,0,0,0
Dyed Hair,0,0,0,1,0
Gold Hair,3,7,1,2,0
Gray Hair dyed Black,0,1,0,0,0
Green Hair,68,55,21,16,0
Grey Hair,262,228,111,88,0
Light Brown Hair,0,5,0,1,0
Magenta Hair,2,2,1,0,0
ND,2991,1654,1305,588,0
No Hair,672,179,128,201,0
No Hair formerly Blond Hair,0,1,0,0,0
Orange Hair,13,25,11,16,0
Orange-brown Hair,3,0,0,0,0
Pink Hair,15,14,7,6,0
Platinum Blond Hair,1,0,0,1,0
Purple Hair,28,33,11,8,0
Red Hair,345,439,151,155,1
Red Hair formerly dyed Black,0,1,0,0,0
Reddish Blond Hair,3,3,0,0,0
Reddish Brown Hair,1,2,0,0,0
Silver Hair,5,8,4,4,0
Strawberry Blond,0,0,1,0,0
Strawberry Blond Hair,17,45,9,9,0
Variable,0,0,1,0,0
Variable Hair,15,6,3,8,0
Violet Hair,1,2,0,1,0
White Hair,450,406,126,121,0
Yellow Hair,9,4,3,4,0

#### These formats have a nice layout and sum up the columns and rows by adding the Boolean condition <font color=blue>_margins=True_</div>.

In [7]:
pd.crosstab(superheroes["SEXUALITY"], superheroes["ALIGN"], margins=True)

ALIGN,Bad Characters,Good Characters,ND,Neutral Characters,Reformed Criminals,All
SEXUALITY,,,,,,
Bisexual Characters,7,15,0,7,0,29
Genderfluid Characters,0,1,0,0,0,1
Heterosexual Characters,9590,7372,3402,2751,3,23118
Homosexual Characters,17,77,10,14,0,118
ND,2,117,25,6,0,150
Pansexual Characters,0,1,0,0,0,1
Transgender Characters,0,1,1,0,0,2
Transvestites,0,0,0,1,0,1
All,9616,7584,3438,2779,3,23420

In [8]:
pd.crosstab(superheroes["FIRST_YEAR"], superheroes["ALIGN"], margins=True)

ALIGN,Bad Characters,Good Characters,ND,Neutral Characters,Reformed Criminals,All
FIRST_YEAR,,,,,,
1935,0,0,1,0,0,1
1936,0,6,2,1,0,9
1937,0,4,0,0,0,4
1938,0,8,2,0,0,10
1939,35,34,1,18,0,88
1940,107,157,9,12,0,285
1941,128,97,27,19,0,271
1942,184,92,12,8,0,296
1943,161,45,2,4,0,212
1944,115,24,3,8,0,150
1945,82,6,2,14,0,104
1946,79,10,2,8,0,99
1947,60,12,2,18,0,92
1948,64,44,7,21,0,136
1949,39,19,3,9,0,70
1950,13,19,1,5,0,38
1951,30,32,2,2,0,66
1952,11,10,2,8,0,31
1953,16,13,3,8,0,40
1954,37,42,4,6,0,89
1955,18,36,1,0,0,55
1956,8,15,1,5,0,29
1957,6,9,1,4,0,20
1958,10,4,2,1,0,17
1959,9,24,3,3,0,39
1960,34,24,10,11,0,79
1961,58,53,12,15,0,138
1962,62,52,29,9,0,152
1963,84,80,39,26,0,229
1964,100,57,33,21,0,211
...,...,...,...,...,...,...
1987,171,138,73,54,0,436
1988,234,210,94,56,0,594
1989,176,254,101,60,0,591
1990,216,171,76,71,0,534
1991,239,115,82,72,0,508
1992,324,178,78,56,0,636
1993,344,214,107,98,1,764
1994,327,206,121,62,0,716
1995,219,121,86,48,0,474
1996,210,171,74,40,0,495
1997,259,142,76,46,0,523
1998,196,117,78,28,1,420
1999,173,110,82,46,0,411
2000,164,187,74,51,0,476
2001,133,101,42,51,0,327
2002,141,137,77,71,0,426
2003,103,145,47,66,0,361
2004,103,158,65,61,1,388
2005,170,176,89,69,0,504
2006,213,277,125,72,0,687
2007,188,166,76,66,0,496
2008,243,184,74,72,0,573
2009,223,181,57,71,0,532
2010,236,188,80,104,0,608
2011,213,168,39,86,0,506
2012,80,81,19,28,0,208
2013,50,46,18,62,0,176
2014,0,1,0,0,0,1
ND,286,303,148,144,0,881
All,9616,7584,3438,2779,3,23420

#### This format calculates percentages rather than simply adding up the counts. It calls a few instructions that are built into Pandas: the methods <font color=blue> _.apply_</font>, <font color=blue> _.sum_</font>; the <font color=blue>_lambda( )_</font> tells Pandas to perform some function but don't give it a variable name it since I won't be using it again later.

In [9]:
pd.crosstab(superheroes["SEXUALITY"], superheroes["ALIGN"]).apply(lambda r: r/r.sum())

ALIGN,Bad Characters,Good Characters,ND,Neutral Characters,Reformed Criminals
SEXUALITY,,,,,
Bisexual Characters,0.000728,0.001978,0.000000,0.002519,0.0
Genderfluid Characters,0.000000,0.000132,0.000000,0.000000,0.0
Heterosexual Characters,0.997296,0.972046,0.989529,0.989924,1.0
Homosexual Characters,0.001768,0.010153,0.002909,0.005038,0.0
ND,0.000208,0.015427,0.007272,0.002159,0.0
Pansexual Characters,0.000000,0.000132,0.000000,0.000000,0.0
Transgender Characters,0.000000,0.000132,0.000291,0.000000,0.0
Transvestites,0.000000,0.000000,0.000000,0.000360,0.0

#### Here's an example of a crosstab that looks at three variables by specifying the columns "ALIGN' and "SEX" and breaking it down further by "SEXUALITY" and then adding up all the columns and rows with the Boolean condition <i><font color="blue">margins=True</font></i>

In [10]:
pd.crosstab(index=superheroes["SEX"], columns=[superheroes["ALIGN"], superheroes["SEXUALITY"]], margins=True)

ALIGN                       Bad Characters                          \
SEXUALITY              Bisexual Characters Heterosexual Characters
SEX
Agender Characters                       0                      20
Female Characters                        4                    1560
Genderfluid Characters                   0                       0
Genderless Characters                    0                      11
Male Characters                          3                    7549
ND                                       0                     449
Transgender Characters                   0                       1
All                                      7                    9590

ALIGN                                               Good Characters  \
SEXUALITY              Homosexual Characters ND Bisexual Characters
SEX
Agender Characters                         0  0                   0
Female Characters                          9  0                   9
Genderfluid Characters                     0  0                   0
Genderless Characters                      0  0                   0
Male Characters                            8  2                   6
ND                                         0  0                   0
Transgender Characters                     0  0                   0
All                                       17  2                  15

ALIGN                                                                  \
SEXUALITY              Genderfluid Characters Heterosexual Characters
SEX
Agender Characters                          0                      10
Female Characters                           0                    2451
Genderfluid Characters                      1                       0
Genderless Characters                       0                       6
Male Characters                             0                    4754
ND                                          0                     151
Transgender Characters                      0                       0
All                                         1                    7372

ALIGN                                                                   ...    \
SEXUALITY              Homosexual Characters   ND Pansexual Characters  ...
SEX                                                                     ...
Agender Characters                         0    0                    0  ...
Female Characters                         27   39                    1  ...
Genderfluid Characters                     0    0                    0  ...
Genderless Characters                      0    0                    0  ...
Male Characters                           50   78                    0  ...
ND                                         0    0                    0  ...
Transgender Characters                     0    0                    0  ...
All                                       77  117                    1  ...

ALIGN                                     ND                             \
SEXUALITY              Homosexual Characters  ND Transgender Characters
SEX
Agender Characters                         0   0                      0
Female Characters                          5  10                      1
Genderfluid Characters                     0   0                      0
Genderless Characters                      0   0                      0
Male Characters                            5  15                      0
ND                                         0   0                      0
Transgender Characters                     0   0                      0
All                                       10  25                      1

ALIGN                   Neutral Characters                          \
SEXUALITY              Bisexual Characters Heterosexual Characters
SEX
Agender Characters                       0                      13
Female Characters                        5                     826
Genderfluid Characters                   1                       0
Genderless Characters                    1                       2
Male Characters                          0                    1789
ND                                       0                     121
Transgender Characters                   0                       0
All                                      7                    2751

ALIGN                                                          \
SEXUALITY              Homosexual Characters ND Transvestites
SEX
Agender Characters                         0  0             0
Female Characters                          5  1             0
Genderfluid Characters                     0  0             0
Genderless Characters                      0  0             0
Male Characters                            9  5             1
ND                                         0  0             0
Transgender Characters                     0  0             0
All                                       14  6             1

ALIGN                       Reformed Criminals    All
SEXUALITY              Heterosexual Characters
SEX
Agender Characters                           0     45
Female Characters                            1   5853
Genderfluid Characters                       0      2
Genderless Characters                        0     20
Male Characters                              2  16521
ND                                           0    978
Transgender Characters                       0      1
All                                          3  23420

[8 rows x 22 columns]

In [11]:
pd.crosstab(index=superheroes["FIRST_YEAR"], columns=[superheroes["ALIGN"], superheroes["SEXUALITY"]], margins=True)

ALIGN           Bad Characters                                                \
SEXUALITY  Bisexual Characters Heterosexual Characters Homosexual Characters
FIRST_YEAR
1935                         0                       0                     0
1936                         0                       0                     0
1937                         0                       0                     0
1938                         0                       0                     0
1939                         0                      35                     0
1940                         0                     107                     0
1941                         0                     128                     0
1942                         0                     184                     0
1943                         1                     160                     0
1944                         0                     115                     0
1945                         0                      82                     0
1946                         0                      79                     0
1947                         0                      60                     0
1948                         0                      64                     0
1949                         0                      39                     0
1950                         0                      13                     0
1951                         0                      30                     0
1952                         0                      11                     0
1953                         0                      16                     0
1954                         0                      37                     0
1955                         0                      18                     0
1956                         0                       8                     0
1957                         0                       6                     0
1958                         0                      10                     0
1959                         0                       9                     0
1960                         0                      34                     0
1961                         0                      58                     0
1962                         0                      62                     0
1963                         0                      84                     0
1964                         0                      98                     2
...                        ...                     ...                   ...
1987                         0                     171                     0
1988                         0                     234                     0
1989                         1                     174                     1
1990                         0                     215                     1
1991                         0                     238                     1
1992                         0                     324                     0
1993                         0                     344                     0
1994                         1                     325                     1
1995                         0                     218                     1
1996                         0                     210                     0
1997                         0                     258                     1
1998                         0                     195                     1
1999                         0                     173                     0
2000                         0                     164                     0
2001                         0                     133                     0
2002                         0                     141                     0
2003                         0                     102                     1
2004                         0                     103                     0
2005                         0                     168                     1
2006                         2                     211                     0
2007                         0                     188                     0
2008                         0                     243                     0
2009                         0                     223                     0
2010                         0                     236                     0
2011                         0                     211                     2
2012                         0                      80                     0
2013                         0                      50                     0
2014                         0                       0                     0
ND                           0                     285                     0
All                          7                    9590                    17

ALIGN             Good Characters                         \
SEXUALITY  ND Bisexual Characters Genderfluid Characters
FIRST_YEAR
1935        0                   0                      0
1936        0                   0                      0
1937        0                   0                      0
1938        0                   0                      0
1939        0                   0                      0
1940        0                   0                      0
1941        0                   0                      0
1942        0                   0                      0
1943        0                   0                      0
1944        0                   0                      0
1945        0                   0                      0
1946        0                   0                      0
1947        0                   0                      0
1948        0                   0                      0
1949        0                   0                      0
1950        0                   0                      0
1951        0                   0                      0
1952        0                   0                      0
1953        0                   0                      0
1954        0                   0                      0
1955        0                   0                      0
1956        0                   0                      0
1957        0                   0                      0
1958        0                   0                      0
1959        0                   0                      0
1960        0                   0                      0
1961        0                   0                      0
1962        0                   0                      0
1963        0                   0                      0
1964        0                   1                      0
...        ..                 ...                    ...
1987        0                   0                      0
1988        0                   1                      0
1989        0                   0                      0
1990        0                   0                      0
1991        0                   0                      0
1992        0                   0                      0
1993        0                   1                      0
1994        0                   0                      0
1995        0                   0                      0
1996        0                   0                      0
1997        0                   2                      0
1998        0                   0                      0
1999        0                   0                      0
2000        0                   0                      0
2001        0                   2                      0
2002        0                   0                      0
2003        0                   2                      0
2004        0                   0                      0
2005        1                   0                      1
2006        0                   0                      0
2007        0                   0                      0
2008        0                   0                      0
2009        0                   0                      0
2010        0                   0                      0
2011        0                   0                      0
2012        0                   0                      0
2013        0                   1                      0
2014        0                   0                      0
ND          1                   0                      0
All         2                  15                      1

ALIGN                                                          \
SEXUALITY  Heterosexual Characters Homosexual Characters   ND
FIRST_YEAR
1935                             0                     0    0
1936                             6                     0    0
1937                             4                     0    0
1938                             8                     0    0
1939                            34                     0    0
1940                           156                     1    0
1941                            95                     0    2
1942                            92                     0    0
1943                            45                     0    0
1944                            23                     0    1
1945                             6                     0    0
1946                            10                     0    0
1947                            12                     0    0
1948                            44                     0    0
1949                            18                     0    1
1950                            19                     0    0
1951                            32                     0    0
1952                            10                     0    0
1953                            13                     0    0
1954                            42                     0    0
1955                            36                     0    0
1956                            15                     0    0
1957                             9                     0    0
1958                             4                     0    0
1959                            22                     1    1
1960                            23                     1    0
1961                            50                     0    3
1962                            47                     0    5
1963                            74                     0    6
1964                            50                     0    6
...                            ...                   ...  ...
1987                           134                     4    0
1988                           201                     5    3
1989                           247                     3    4
1990                           168                     1    2
1991                           112                     1    2
1992                           175                     2    1
1993                           213                     0    0
1994                           204                     2    0
1995                           119                     1    1
1996                           169                     1    1
1997                           139                     1    0
1998                           115                     0    2
1999                           109                     0    1
2000                           185                     2    0
2001                            96                     3    0
2002                           133                     4    0
2003                           137                     5    1
2004                           151                     4    3
2005                           166                     2    7
2006                           269                     5    3
2007                           165                     0    1
2008                           180                     2    2
2009                           174                     3    4
2010                           179                     3    5
2011                           164                     2    2
2012                            76                     4    1
2013                            38                     2    5
2014                             1                     0    0
ND                             297                     6    0
All                           7372                    77  117

ALIGN                            ...                      ND      \
SEXUALITY  Pansexual Characters  ...   Homosexual Characters  ND
FIRST_YEAR                       ...
1935                          0  ...                       0   0
1936                          0  ...                       0   0
1937                          0  ...                       0   0
1938                          0  ...                       0   0
1939                          0  ...                       0   0
1940                          0  ...                       0   0
1941                          0  ...                       0   0
1942                          0  ...                       0   0
1943                          0  ...                       1   0
1944                          0  ...                       0   0
1945                          0  ...                       0   0
1946                          0  ...                       0   0
1947                          0  ...                       0   0
1948                          0  ...                       1   0
1949                          0  ...                       0   0
1950                          0  ...                       0   0
1951                          0  ...                       0   0
1952                          0  ...                       0   0
1953                          0  ...                       0   0
1954                          0  ...                       0   0
1955                          0  ...                       0   0
1956                          0  ...                       0   0
1957                          0  ...                       0   0
1958                          0  ...                       0   0
1959                          0  ...                       0   0
1960                          0  ...                       0   0
1961                          0  ...                       0   0
1962                          0  ...                       0   0
1963                          0  ...                       0   0
1964                          0  ...                       0   0
...                         ...  ...                     ...  ..
1987                          0  ...                       1   0
1988                          0  ...                       0   1
1989                          0  ...                       0   1
1990                          0  ...                       0   0
1991                          0  ...                       1   1
1992                          0  ...                       0   2
1993                          0  ...                       0   1
1994                          0  ...                       0   1
1995                          0  ...                       0   0
1996                          0  ...                       0   0
1997                          0  ...                       0   0
1998                          0  ...                       0   1
1999                          0  ...                       0   0
2000                          0  ...                       0   1
2001                          0  ...                       1   0
2002                          0  ...                       0   0
2003                          0  ...                       0   0
2004                          0  ...                       0   1
2005                          0  ...                       2   1
2006                          0  ...                       0   0
2007                          0  ...                       1   0
2008                          0  ...                       0   0
2009                          0  ...                       0   0
2010                          0  ...                       0   0
2011                          0  ...                       0   0
2012                          0  ...                       0   1
2013                          0  ...                       0   2
2014                          0  ...                       0   0
ND                            0  ...                       0   0
All                           1  ...                      10  25

ALIGN                              Neutral Characters                          \
SEXUALITY  Transgender Characters Bisexual Characters Heterosexual Characters
FIRST_YEAR
1935                            0                   0                       0
1936                            0                   0                       1
1937                            0                   0                       0
1938                            0                   0                       0
1939                            0                   0                      17
1940                            0                   0                      12
1941                            0                   0                      18
1942                            0                   0                       8
1943                            0                   0                       4
1944                            0                   0                       8
1945                            0                   0                      14
1946                            0                   0                       8
1947                            0                   0                      18
1948                            0                   0                      21
1949                            0                   1                       7
1950                            0                   0                       5
1951                            0                   0                       2
1952                            0                   0                       8
1953                            0                   0                       8
1954                            0                   0                       6
1955                            0                   0                       0
1956                            0                   0                       5
1957                            0                   0                       4
1958                            0                   0                       1
1959                            0                   0                       3
1960                            0                   0                      11
1961                            0                   0                      14
1962                            0                   0                       9
1963                            0                   0                      26
1964                            0                   0                      21
...                           ...                 ...                     ...
1987                            0                   0                      53
1988                            0                   0                      56
1989                            0                   1                      59
1990                            0                   0                      71
1991                            0                   0                      71
1992                            0                   0                      55
1993                            0                   0                      98
1994                            1                   0                      62
1995                            0                   0                      48
1996                            0                   0                      40
1997                            0                   0                      45

#### Be thoughtful about what data you want to compare. It can become meaningless fairly quickly if you add too much complexity.

In [12]:
pd.crosstab(index=superheroes["SEX"], columns=[superheroes["ALIGN"], superheroes["SEXUALITY"], superheroes["ALIVE"]], margins=True)

ALIGN                       Bad Characters                    \
SEXUALITY              Bisexual Characters
ALIVE                  Deceased Characters Living Characters
SEX
Agender Characters                       0                 0
Female Characters                        0                 4
Genderfluid Characters                   0                 0
Genderless Characters                    0                 0
Male Characters                          1                 2
ND                                       0                 0
Transgender Characters                   0                 0
All                                      1                 6

ALIGN                                                                \
SEXUALITY              Heterosexual Characters
ALIVE                      Deceased Characters Living Characters ND
SEX
Agender Characters                           2                18  0
Female Characters                          385              1174  1
Genderfluid Characters                       0                 0  0
Genderless Characters                        3                 8  0
Male Characters                           2248              5301  0
ND                                          88               361  0
Transgender Characters                       1                 0  0
All                                       2727              6862  1

ALIGN                                                           \
SEXUALITY              Homosexual Characters
ALIVE                    Deceased Characters Living Characters
SEX
Agender Characters                         0                 0
Female Characters                          2                 7
Genderfluid Characters                     0                 0
Genderless Characters                      0                 0
Male Characters                            2                 6
ND                                         0                 0
Transgender Characters                     0                 0
All                                        4                13

ALIGN                                           Good Characters  ...    \
SEXUALITY                             ND    Bisexual Characters  ...
ALIVE                  Living Characters ND Deceased Characters  ...
SEX                                                              ...
Agender Characters                     0  0                   0  ...
Female Characters                      0  0                   2  ...
Genderfluid Characters                 0  0                   0  ...
Genderless Characters                  0  0                   0  ...
Male Characters                        1  1                   0  ...
ND                                     0  0                   0  ...
Transgender Characters                 0  0                   0  ...
All                                    1  1                   2  ...

ALIGN                   Neutral Characters                          \
SEXUALITY              Bisexual Characters Heterosexual Characters
ALIVE                    Living Characters     Deceased Characters
SEX
Agender Characters                       0                       2
Female Characters                        4                     187
Genderfluid Characters                   1                       0
Genderless Characters                    1                       1
Male Characters                          0                     432
ND                                       0                       8
Transgender Characters                   0                       0
All                                      6                     630

ALIGN                                                           \
SEXUALITY                                Homosexual Characters
ALIVE                  Living Characters   Deceased Characters
SEX
Agender Characters                    11                     0
Female Characters                    639                     1
Genderfluid Characters                 0                     0
Genderless Characters                  1                     0
Male Characters                     1357                     3
ND                                   113                     0
Transgender Characters                 0                     0
All                                 2121                     4

ALIGN                                                          \
SEXUALITY                                ND     Transvestites
ALIVE                  Living Characters ND Living Characters
SEX
Agender Characters                     0  0                 0
Female Characters                      4  1                 0
Genderfluid Characters                 0  0                 0
Genderless Characters                  0  0                 0
Male Characters                        6  5                 1
ND                                     0  0                 0
Transgender Characters                 0  0                 0
All                                   10  6                 1

ALIGN                       Reformed Criminals                      All
SEXUALITY              Heterosexual Characters
ALIVE                      Deceased Characters Living Characters
SEX
Agender Characters                           0                 0     45
Female Characters                            0                 1   5853
Genderfluid Characters                       0                 0      2
Genderless Characters                        0                 0     20
Male Characters                              1                 1  16521
ND                                           0                 0    978
Transgender Characters                       0                 0      1
All                                          1                 2  23420

[8 rows x 38 columns]