# Debug Challenge 07.01.21

### Run the cell below to import the libraries for the debug challenge
Google Form Link: https://forms.gle/PqZqDLEh8h5ADQDK8
<< EVEN IF YOU UPLOAD A FILE, PLEASE COMPLETE THE GOOGLE FORM, Please & Thanks!! 

![rootingforyou.gif](https://media3.giphy.com/media/26gskaXMHwQFmuXAc/giphy.gif)

In [1]:
import pandas as pd
import numpy as np

In [4]:
### Import and read in the superheroData.csv file into this file. 

#### Step 1: Rename and save the file as LASTNAME_DebugChallengeClass15.ipynb
#### Step 2: Store this .ipynb file in the same folder as the superhero_data.csv file so Pandas can read the spreadsheet. 
#### Step 3: In the blank line below, type in this command to rename and then read the spreadsheet into Jupyter: 
superheroes = pd.read_csv("superheroData.csv", parse_dates = ["FIRST_YEAR"])

#### Ensure that the csv file imported properly by running the code below.

In [5]:
superheroes.head()

,UNIVERSE,page_id,name,urlslug,ID,ALIGN,IS_AVENGER,AVENGER_STATUS,AVENGER_YEAR,EYES,...,SEX,SEXUALITY,ALIVE,APPEARANCES,FIRST_MONTH,FIRST_YEAR,DECEASED,RESURRECTED,Unnamed: 19,Unnamed: 20
0,DC,1702,Richard Occult (New Earth),Richard_Occult_(New_Earth),Secret Identity,ND,NO,ND,ND,Grey Eyes,...,Male Characters,Heterosexual Characters,Living Characters,125,October,1935,ND,ND,NaN,NaN
1,DC,158200,Arthur Pendragon (New Earth),Arthur_Pendragon_(New_Earth),Public Identity,Good Characters,NO,ND,ND,Brown Eyes,...,Male Characters,Heterosexual Characters,Living Characters,41,February,1936,ND,ND,NaN,NaN
2,DC,289378,Bedivere (New Earth),Bedivere_(New_Earth),ND,ND,NO,ND,ND,ND,...,Male Characters,Heterosexual Characters,Living Characters,ND,February,1936,ND,ND,NaN,NaN
3,DC,11333,Franklin Delano Roosevelt (New Earth),Franklin_Delano_Roosevelt_(New_Earth),Public Identity,Good Characters,NO,ND,ND,ND,...,Male Characters,Heterosexual Characters,Living Characters,52,March,1936,ND,ND,NaN,NaN
4,DC,342641,Gareth (New Earth),Gareth_(New_Earth),ND,ND,NO,ND,ND,ND,...,Male Characters,Heterosexual Characters,Living Characters,1,February,1936,ND,ND,NaN,NaN

### Challenge 1: Run the code in this section below to reveal the error messages. Can you spot the bugs? Use the Google form to note each of the problems you encountered and your potential solutions. 
### Fix the code for extra credit!

In [15]:
# print the total number of characters in the data

print("\nTotal number of characters:" + str(len(superheroes)))

Total number of characters:23420

### Challenge 2: Run the code in the section below to reveal the error messages. Can you spot the bugs? Use the Google form to note each of the problems you encountered and your potential solutions.

### Fix the code for extra credit!Â¶

In [19]:
# print the 20 newest heroes by name
superheroes.sort_values(by="FIRST_YEAR", ascending=True, inplace=True)

newest_heroes = superheroes["name"] + " " + superheroes["FIRST_YEAR"]

print(newest_heroes[0:21])

0                Richard Occult (New Earth) 1935
9                        Merlin (New Earth) 1936
7              Lady of the Lake (New Earth) 1936
6                     Guinevere (New Earth) 1936
5                        Gawain (New Earth) 1936
8                      Lancelot (New Earth) 1936
3     Franklin Delano Roosevelt (New Earth) 1936
2                      Bedivere (New Earth) 1936
1              Arthur Pendragon (New Earth) 1936
4                        Gareth (New Earth) 1936
10               Cyril Saunders (New Earth) 1937
11                 Rose Psychic (New Earth) 1937
12               Samuel Bradley (New Earth) 1937
13                Samuel Morgan (New Earth) 1937
20                   Robin Hood (New Earth) 1938
23                     Wing How (New Earth) 1938
22                         Tong (New Earth) 1938
19                 Robert Daley (New Earth) 1938
21                Scott Scanlon (New Earth) 1938
17                    Lois Lane (New Earth) 1938
16                   Lee Travis (New Earth) 1938
dtype: object

### Challenge 3: Run the code in the section below to reveal the crosstab results. 

### What is the issue with the labeled crosstab results? (Hint, check the original labels by commenting out lines of code)

### Fix the code for extra credit!

In [17]:
creepy_villain = pd.crosstab(index = superheroes["EYES"] == "Yellow Eyes", columns = superheroes["HAIR"] == "Red Hair")

creepy_villain.columns = ["Does not have red hair", "Has red hair"]
creepy_villain.index = ["Does not have yellow eyes", "Has yellow eyes"]
creepy_villain

                           Does not have red hair  Has red hair
Does not have yellow eyes                   22004          1073
Has yellow eyes                               325            18

### Challenge 4: Run the code in the section below to reveal the crosstab results. 

### The issue isn't about a bug but the reliability of the results The crosstab computation returns a lot of 0 and ND (no data) values both for hair color and for how the characters' align (good, bad, neutral or reformed criminal). Use the Google form to explain why this could be a problem in your data analysis and how you could overcome it in the code.

### Fix the code for extra credit!

In [ ]:
bad_hair = pd.crosstab(superheroes["HAIR"], superheroes["ALIGN"])


print(bad_hair)

### You're done! Please submit the Debug Challenge Google form before the end of class today.